apiVersion: v1
clusters:
- cluster:
    certificate-authority-data:
    server: https://172.28.80.140:443/
  name: cls-a5zwyqoe
contexts:
- context:
    cluster: cls-a5zwyqoe
    user: "100020314901"
  name: cls-a5zwyqoe-100020314901-context-default
current-context: cls-a5zwyqoe-100020314901-context-default
kind: Config
preferences: {}
users:
- name: "100020314901"
  user:
    client-certificate-data:
    client-key-data: