apiVersion: v1
clusters:
- cluster:
    certificate-authority-data:
    server: https://127.0.0.1:443/
  name: cls-a5zwyqoe
contexts:
- context:
    cluster: cls-abcdefg
    user: "1234567890"
  name: cls-abcdefg-1234567890-context-default
current-context: cls-abcdefg-1234567890-context-default
kind: Config
preferences: {}
users:
- name: "1234567890"
  user:
    client-certificate-data:
    client-key-data:
